<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <img class="img-fluid" src="static/img/LPlogowebsiteheadline.png" alt="LP logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/club_members">
                    Club Members
                </a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/contact">-->
<!--                    Contact-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>
</nav>
