<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>

        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <%- include("../partials/nav.ejs") %>

        <main role="main">
            <h1 class="mt-5" style="text-align: center">Sorry, this page is still under construction :(</h1>
        </main>
        
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
