<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <h1>This is a large header</h1>
        <p>And this is a small paragraph</p>
        <h2>And this is a test to see if I can use SASS to make the color red</h2>
    </body>
</html>
